body,html{
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(#f9f37f, #6b90c4);}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ababab;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#334FCC;
  }
header{
    padding: 5%;
    height: 15%; 
    width: 100%;
    margin-bottom: 2%;
}
nav{
    display: flex;
    width: 100%;
    height: 100%; 
}
td{
    font-weight: 500;
}
section{
    border-bottom: #334FCC 1px solid ;
    height: 100%;
    height: 100%;
}
a{
    font-size: 22px;
    color: #334FCC;
    text-decoration: none;
    font-weight: 550;
}
a:hover{
    color: #bdb7ff;
}
#A{
    height: 63%;
    width: 100%;
}
section:hover{
    border-bottom: #bdb7ff 1px solid ;
}
h5{
    color: #454d45
}
h2{
    color: #03044b;
}